@charset "UTF-8";

@media screen and (min-width: 1440px){
    body{
        min-height: 100vh;
        justify-content: center;
    }

    main{
        width: 70%;
        padding: 0rem 15rem;
        display: grid;
        grid-template: repeat(6, 10rem) / repeat(4, 1fr);
        gap: 2rem;
    }

    section{
        margin-top: 0rem;
    }

    .section-one{
        width: 100%;
        grid-row: 1 / 3;
        grid-column: 2 / 4;
    }

    .section-one h1{
        margin: 2rem 0 0 0;
    }

    .section-one img{
        width: 50%;
    }

    .section-two{
        grid-row: 3 / 5;
        grid-column: 2 / 3;
    }

    .section-two h1{
        width: 17rem;
    }

    .section-three{
        grid-row: 3 / 5;
        grid-column: 3 / 4;
    }

    .section-four{
        grid-row: 1 / 5;
        grid-column: -1 / -2;
        text-align: left;
    }

    .section-four h1{
        line-height: 2.2rem;
    }

    .section-five{
        grid-row: -1 / -3 ;
        grid-column: -1 / -3;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .section-five img{
        width: 19rem;
    }

    .section-five h1{
        width: 25rem;
        padding-top: 0rem;
    }

    .section-six{
        grid-row: -1 / -3;
        grid-column: 2 / 3;
    }

    .section-seven{
        grid-row: 1 / 4;
        grid-column: 1 / 2;
    }

    .section-eight{
        grid-row: 4 / 7;
        grid-column: 1 / 2;
    }

    .section-eight h1{
        width: 15rem;
    }

    .section-eight img{
        width: 100%;
    }
}